<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login Page</title>
</head>
<body>
<h1>Login</h1>
<form action="/login/credentials" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
</form>
<a href="/oauth2/authorization/google">Login with Google</a>
</body>
</html>
